@model IEnumerable<Garage2._0.Models.ParkedVehicle>

@{
    ViewData["Title"] = "Vehicles Details";
}

<h1 class="text-center text-info">Parked Vehicles Details</h1>

<p class="text-center h3">
    <a asp-action="Park"  class="text-center text-info">Park a new vehicle</a>
</p>
<partial name="PartialVehicles" />