@model IEnumerable<Garage2._0.Models.ParkedVehicle>

@{
    ViewData["Title"] = "Vehicles Details";
}

<h1>Parked Vehicles Details</h1>

<p>
    <a asp-action="Park">Park a new vehicle</a>
</p>
<partial name="PartialVehicles" />