@model LeavingVehicleViewModel

<form>
    <input type="hidden" asp-for="LeavingVehicle.Id" />
    <input type="submit" value="Unpark" class="btn btn-outline-danger" />
    <a asp-action="HomePage"><input value="Home" class="btn btn-outline-info" /></a>

</form>
