@model Garage2._0.Models.ParkedVehicle

@{
    ViewData["Title"] = "Park a vehicle";
}



<div class="modal-body text-center">
    <h4>Great!</h4>
    <p>Your vehicle was successfully parked.</p>
    <a asp-action="HomePage"  class="btn btn-outline-info" data-dismiss="modal"><span>Close</span> <i class="material-icons">&times;</i></a>
</div>


